#new-employee-wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background: linear-gradient(180deg, #CFF4FC 30.32%, #FFF 81.32%);


  #content-wrapper {

    display: flex;
    flex-direction: row;

    padding: 30px 250px;

    justify-content: center;
    align-items: center;

    flex: 1 0 0;

    #window {

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      flex: 1 0 0;

      min-width: 820px;

      padding: 20px 80px;

      border-radius: 25px;
      background: #c6f2ae;

      form {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 40px;

        #inputs {
          display: flex;
          flex-direction: row;
          gap: 20px;

          #else-data {
            display: flex;
            flex-direction: column;
            gap: 10px;

            flex: 1 0 0;
          }
        }

        .list-element {
          display: flex;
          flex-direction: row;
          gap: 20px;

          align-items: center;

          .name {
            min-width: 110px;
          }

          .inputs {
            display: flex;
            flex-direction: row;
            gap: 20px;

            align-items: center;

            & > div {
              display: flex;
              flex-direction: row;
              gap: 10px;

              align-items: center;
            }
          }
        }


        .buttons {
          align-self: center;
          display: flex;
          flex-direction: row;
          gap: 50px;
        }
      }
    }
  }
}